    </main>
    <footer>
      <div class="flex justify-center items-center gap-4 w-full sm:gap-8">
        <img src="/img/brasao.webp" alt="Brasão da Prefeitura Municipal de Angra dos Reis." title="Brasão da Prefeitura Municipal de Angra dos Reis." class="w-[53px] h-[65px] sm:w-[82px] sm:h-[100px]" loading="lazy">
        <img src="/img/SEC_logo.webp" alt="Logomarca da Secretaria Municipal de Educação." title="Logomarca da Secretaria Municipal de Educação." class="w-[100px] h-[47px] sm:w-[150px] sm:h-[70px]" loading="lazy">
      </div>
      <div class="flex flex-col items-center mt-4 text-primary font-medium">
        <p>
          Desenvolvido por <span class="font-semibold cursor-help select-none hover:text-darkPrimary hint--top hint--info hint--rounded hint--bounce" aria-label="sec.ti@angra.rj.gov.br">Raphael Carlos</span>
        </p>
        <p>
          v<%= process.env.npm_package_version %> &#8212 &copy; 2022
        </p>
          <img class="mt-2 cursor-pointer" alt="Creative Commons License, CC-BY-NC-SA 4.0 International." title="Creative Commons License, CC-BY-NC-SA 4.0 International." style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" onclick="window.location='http://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt_BR'" onkeypress="window.location='http://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt_BR'" />
      </div>
    </footer>
    <%- include('loader.ejs'); %>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>