    </main>
    <footer>
      <div class="flex justify-center items-center w-full">
        <img src="/img/brasao.png" alt="Brasão da Prefeitura Municipal de Angra dos Reis." width="53" height="65" class=" mr-4 sm:hidden">
        <img src="/img/SEC_logo.png" alt="Logomarca da Secretaria de Educação." width="100" height="47" class="sm:hidden">
        <img src="/img/brasao.png" alt="Brasão da Prefeitura Municipal de Angra dos Reis." width="82" height="100" class="hidden mr-8 sm:block">
        <img src="/img/SEC_logo.png" alt="Logomarca da Secretaria de Educação." width="150" height="93" class="hidden sm:block">
      </div>
      <div class="mt-4 text-sm text-primary font-medium">
        <p>
          Desenvolvido por <span class="font-semibold cursor-help select-none hint--top hint--info hint--rounded hint--bounce" aria-label="sec.ti@angra.rj.gov.br">R.Carlos</span>
        </p>
        <p>
          v1.0.0.1 &#8212 &copy; 2022
        </p>
      </div>
    </footer>
    <%- include('loader.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>