<!DOCTYPE html>
<% if (locals.user) { %>  
  <html lang="pt-BR" class="no-js <%= user.theme === 'dark' ? 'dark' : '' %>" id="html">
<% } else { %>
  <html lang="pt-BR" class="no-js" id="html">
<% }; %>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>SEJIN - Índice Gerencial de Avaliação Imobiliária (IGAI)</title>

    <script type="module">
      document.documentElement.classList.replace("no-js", "js");
    </script>

    <!-- Theming -->
    <% if (locals.user) { %>
      <script>
        const userTheme = "<%= user.theme %>";
        document.cookie = "theme=" + userTheme;
      </script>
    <% } else { %>
      <script>
        const html = document.getElementById("html");
        const cookies = document.cookie;
        const cookiesArray = cookies.split(";");
        for (let i = 0; i < cookiesArray.length; i++) {
          const cookie = cookiesArray[i];
          if (cookie.indexOf("theme") >= 0) {
            const theme = cookie.substr(6);
            if (theme === "dark") {
              html.classList.add("dark")
            } else {
              html.classList.remove("dark")
            };
          }
        }
      </script>
    <% } %>

    <!-- Google Fonts -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Poppins:wght@600;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Poppins:wght@600;700&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.min.css" />
    <link
      rel="preload"
      href="/css/hint.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript><link rel="stylesheet" href="/css/hint.min.css" /></noscript>

    <!-- META and Social -->
    <meta
      name="description"
      content="Aplicação simples de controle do estado de conservação das unidades escolares da Rede Municipal de Angra dos Reis."
    />
    <meta
      property="og:title"
      content="SEJIN - Índice Gerencial de Avaliação Imobiliária (IGAI)"
    />
    <meta
      property="og:description"
      content="Aplicação simples de controle do estado de conservação das unidades escolares da Rede Municipal de Angra dos Reis."
    />
    <meta property="og:image" content="/img/og_SEC_logo.jpg" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="http://192.168.32.123/" />

    <link rel="canonical" href="http://192.168.32.123/" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="theme-color" content="#f9fafb" />
  </head>

  <body>
    <header>
      <h1>SEJIN - IGAI</h1>
      <small>Indicador Gerencial de Avaliação do Imóvel</small>
    </header>
    <main>