<dialog class="logout-modal" id="logoutModal">
  <h2 class="mt-4">Sair da aplicação</h2>
  <p class="text-lg mt-4">Deseja encerrar as atividades e sair da aplicação?</p>
  <div class="dialog-buttons">
    <button class="button button-tertiary" id="logoutModalClose">
      Retornar
    </button>
    <a class="button button-primary" href="<%= process.env.PREFIX %>/logout">
      Sair
    </a>
  </div>
</dialog>

<script src="./js/logoutModal.js" defer></script>
