<%- include('partials/header.ejs'); %>

<div class="card w-full md:w-2/3 lg:w-3/4">
  <div class="w-full">
    <div>
      <h2>Registros do sistema</h2>
      <%- include("partials/logTable.ejs") %> 
      <div class="flex justify-center mt-8">
        <button type="button" class="button button-tertiary" onclick="window.location='/dashboard'">Retornar</button>
      </div>
    </div>
  </div>
</div>

<%- user.role === 'admin' ? include('partials/floatingMenuAdmin.ejs') : include('partials/floatingMenuBasic.ejs'); %>
<%- include('partials/footer.ejs'); %>
