<%- include('partials/header.ejs'); %>

<div class="card min-w-[336px] max-w-sm w-5/6 sm:w-3/4 md:w-1/2">
  <div class="w-full">
    <h2>Entrar</h2>
    <div>
      <form method="post" action="/login">
        <div class="form-line">
          <label for="email">E-mail</label>
          <div>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Digite seu e-mail"
              autofocus
            />
            <span class="validation-error" id="emailError" aria-live="polite">
              Digite um e-mail válido.
            </span>
          </div>
        </div>
        <div class="form-line">
          <label for="password">Senha</label>
          <div class="relative">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Digite sua senha"
              minlength="4"
            />
            <button
              type="button"
              role="button"
              id="senha-olho"
              class="senha-olho"
              onclick="senhaOlho()"
            ></button>
            <span
              class="validation-error"
              id="passwordError"
              aria-live="polite"
            >
              Senha precisa ter mais de 4 caracteres.
            </span>
            <div class="flex justify-center text-sm mt-1">
              <a class="link" href="/resetPassword">Esqueci minha senha</a>
            </div>
          </div>
        </div>
        <div class="flex justify-center pb-3 mt-6">
          <button type="submit" class="button button-primary">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const submitButton = document.querySelector("button[type='submit']");
  submitButton.addEventListener("click", () => {
    const form = document.querySelector("form");
    form.submit();
    submitButton.disabled = true;
  });
</script>

<script src="./js/senhaOlho.js"></script>

<%- include('partials/footer.ejs'); %>
