<%- include('partials/header.ejs'); %>

<div class="card min-w-[340px] max-w-sm w-5/6 sm:w-3/4 md:w-1/2">
  <div class="w-full">
    <h2>Entrar</h2>
    <div>
      <form method="post" action="/login">
        <div class="form-line">
          <label for="email">E-mail</label>
          <div>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Digite seu e-mail"
              autofocus
            />
            <span class="validation-error" id="emailError" aria-live="polite">
              Digite um e-mail válido.
            </span>
          </div>
        </div>
        <div class="form-line">
          <label for="password">Senha</label>
          <div class="relative">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Digite sua senha"
              minlength="4"
            />
            <button
              type="button"
              role="button"
              id="senha-olho"
              class="senha-olho"
              onclick="senhaOlho()"
            ></button>
            <span
              class="validation-error"
              id="passwordError"
              aria-live="polite"
            >
              Senha precisa ter mais de 4 caracteres.
            </span>
            <div class="flex justify-end text-sm mt-2">
              <a class="link" href="/resetPassword">Esqueci minha senha</a>
            </div>
          </div>
        </div>
        <div class="flex justify-center pb-3 mt-6">
          <button type="submit" class="button button-primary">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/senhaOlho.js"></script>

<% if (locals.errors) { %>
  <script>
    const errors = <%- JSON.stringify(locals.errors) %>;
  
    const errorToast = document.createElement("div");
    errorToast.classList.add("error", "show-toast");
  
    const closeButton = document.createElement("span");
    closeButton.innerHTML = "X";
    closeButton.classList.add("close-toast");
  
    const errorList = document.createElement("ul");
    errors.forEach(error => {
      if (error.msg) {
        errorList.innerHTML += `<li>${error.msg}</li>`;
      } else {
        errorList.innerHTML += `<li>${error}</li>`;
      };
    });
  
    errorToast.appendChild(closeButton);
    errorToast.appendChild(errorList);
    document.body.appendChild(errorToast);
  
    closeButton.addEventListener("click", function () {
      errorToast.classList.remove("show-toast");
      errorToast.classList.add("hide-toast");
    });
  </script>
<% } %>

<% if (locals.success) { %>
  <script>
    const success = <%- JSON.stringify(locals.success) %>;
  
    const successToast = document.createElement("div");
    successToast.classList.add("success", "show-toast");
    successToast.innerHTML = success;
  
    const closeButton = document.createElement("span");
    closeButton.innerHTML = "X";
    closeButton.classList.add("close-toast");
  
    successToast.appendChild(closeButton);
    document.body.appendChild(successToast);
  
    closeButton.addEventListener("click", function () {
      successToast.classList.remove("show-toast");
      successToast.classList.add("hide-toast");
    });
  </script>
<% } %>

<%- include('partials/footer.ejs'); %>
