<%- include('partials/header.ejs'); %>

<div class="card min-w-[340px] max-w-md w-5/6 sm:w-3/4 md:w-1/2">
  <div class="w-full">
    <div>
      <h2>Redefinir senha</h2>
      <div>
        <form method="post" action="<%= process.env.PREFIX %>/resetPassword">
          <div class="form-line">
            <label for="email">E-mail<span class="required">*</span></label>
            <div>
              <div>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Digite seu e-mail"
                  autofocus
                />
                <span
                  class="validation-error"
                  id="emailError"
                  aria-live="polite"
                >
                  Digite um e-mail válido.
                </span>
              </div>
            </div>
          </div>
          <div class="flex justify-end gap-4 mt-4">
            <a
              class="button button-tertiary"
              href="<%= process.env.PREFIX %>/login"
            >
              Retornar
            </a>
            <button type="submit" class="button button-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const submitButton = document.querySelector("button[type='submit']");
  submitButton.addEventListener("click", () => {
    const form = document.querySelector("form");
    form.submit();
    submitButton.disabled = true;
  });
</script>

<%- include('partials/footer.ejs'); %>
