<%- include('partials/header.ejs'); %>

<div class="card min-w-[336px] w-5/6 max-w-md sm:w-3/4">
  <div class="w-full">
    <h2>Criar nova senha</h2>
    <div>
      <form
        method="post"
        action="<%= `${process.env.PREFIX}/password-reset?user=${userId}&token=${token}` %>"
      >
        <div class="form-line">
          <label for="newPassword"
            >Nova senha<span class="required">*</span></label
          >
          <div class="relative">
            <input
              type="password"
              name="newPassword"
              id="newPassword"
              placeholder="Digite a nova senha"
              minlength="4"
              autofocus
            />
            <button
              type="button"
              role="button"
              id="senha-olho-newPassword"
              class="senha-olho"
              onclick="senhaOlho('newPassword', 'senha-olho-newPassword');"
            ></button>
            <span
              class="validation-error"
              id="passwordError"
              aria-live="polite"
            >
              Senha precisa ter mais de 4 caracteres.
            </span>
          </div>
        </div>
        <div class="form-line">
          <label for="password"
            >Confirme a nova senha<span class="required">*</span></label
          >
          <div class="relative">
            <input
              type="password"
              name="verifyPassword"
              id="verifyPassword"
              placeholder="Confirme a nova senha"
              minlength="4"
            />
            <button
              type="button"
              role="button"
              id="senha-olho-newPassword-verify"
              class="senha-olho"
              onclick="senhaOlho('verifyPassword', 'senha-olho-newPassword-verify')"
            ></button>
            <span class="validation-error" id="confirmError" aria-live="polite">
              Confirmação precisa ter 3 caracteres ou mais.
            </span>
          </div>
        </div>
        <div class="flex justify-end gap-4 mt-6">
          <a
            href="<%= process.env.PREFIX %>/login"
            class="button button-tertiary"
          >
            Retornar
          </a>
          <button type="submit" class="button button-primary">
            Criar senha
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const submitButton = document.querySelector("button[type='submit']");
  submitButton.addEventListener("click", () => {
    const form = document.querySelector("form");
    form.submit();
    submitButton.disabled = true;
  });
</script>

<script src="./js/senhaOlho.js"></script>

<%- include('partials/footer.ejs'); %>
